/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.mat-horizontal-stepper-header-container {
  margin-right: 10% !important;
  margin-left: 10% !important;
}

.mat-horizontal-content-container {
  padding: 30px 24px 30px 24px !important;
}

.mat-mdc-extended-fab {
  height: 35px !important;
}
